.area {
    width: 60vw;
    height: 50vh;
    background-color: #acd1af;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ans {
        width: 50%;
        overflow: auto;
    }
}